# Neon PostgreSQL pooled connection string for host dashboards (e.g Vercel & Cloudflare)
DATABASE_URL="NEON_CONNECTION_STRING"

# Neon PostgreSQL unpooled connection string for Drizzle migrations
DATABASE_URL_UNPOOLED="NEON_CONNECTION_STRING"
